span.wait {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    color: rgba(255, 255, 255, 1);
  }
  50% {
    color: rgba(255, 255, 255, 0);
  }
  100% {
      color: rgba(255, 255, 255, 1);
    }
}