body {
  padding: 10px;
  background-color: rgba(245, 240, 236, 0.45);
}

h1, h2 {
  color: #64AECB;
  padding: 010px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

.action-wrap {
  margin: 10px;
}

.action {
  border-radius: 5px;
  border: 3px solid #8BC1D5;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  background: #64AECB;
  width: 292px;
  font-size: 20px;
  color: white;
}

.action a {
  float: right;
  text-decoration: none;
  color: white;
}

span.wait {
  float: right;
  color: white;
}

.upload-wrap {
  font-size: 20px;
  margin: 0 10px 10px 10px;
  background: #8BC1D5;
  display: none;
  border-radius: 5px;
  border: 3px solid #8BC1D5;
}

.upload-wrap form {
  margin: 0;
  padding: 10px;
  color: white;
}

.upload-wrap input.submit {
  margin-left: 8px;
}